@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Pacifico&display=swap');

body {
  margin: 150px 0 0 0;
  background-color: #c7b198;
  font-family: 'Nunito', sans-serif;
}

::selection {
  color: #c7b198;
  background-color: #232323;
}
